body {
  margin-top: 100px;
  text-align: center;
  background-color: #2d336b;
  color: #a9b5df;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
table {
  margin: 0 auto;
}

a {
  color: #fff2f2;
}

ul {
  text-align: center;
}
li {
  list-style-type: none;
}

input {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  border-radius: 30px;
  background-color: aquamarine;
}

button:hover {
  background-color: #2d336b;
  border-color: blueviolet;
  color: #fff2f2;
}
.heading {
  color: blueviolet;
}

.new_place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Increase checkbox size */
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Change checkbox color when checked */
input[type='checkbox']:checked {
  accent-color: #4caf50; /* Change to green */
}
