<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Cafes</title>
  </head>
  <body>
    <h1>Cafes in {{ request.args.get('location') }}</h1>

    {% if cafes %}
    <ul>
      {% for cafe in cafes %}
      <li>{{ cafe.name }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No cafes found in this location.</p>
    {% endif %}
    <a href="{{ url_for('home') }}"><button class="all_cafes">Back</button> </a>
  </body>
</html>
