<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Cafe&Wifi</title>
  </head>
  <body>
    <h1>Welcome to the Cafe&Wifi Database</h1>
    <h3>You can add your favorite places as well!</h3>
    <a href="{{ url_for('get_cafe') }}"
      ><button class="all_cafes">All Cafes</button>
    </a>
    <a href="{{ url_for('add_cafe') }}"
      ><button class="add_cafe">Add Cafe</button>
    </a>
  </body>
</html>
